/* quiz.css */
#quiz-container {
    margin-top: 30px;
    text-align: center;
}

.timer {
    font-size: 1.5em;
    color: #dc3545;
    margin-bottom: 20px;
}

.question {
    margin: 20px 0;
    font-size: 1.2em;
}

.answers button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.answers button:hover {
    background-color: #0056b3;
}

.review-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-card p {
    margin: 5px 0;
    font-size: 16px;
}

.review-card strong {
    color: #333;
}
